body{
    margin: 0px;
}

/* body header */
#body-header{
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.8; */
    background-image: url(https://images.pexels.com/photos/301378/pexels-photo-301378.jpeg?cs=srgb&dl=pexels-pixabay-301378.jpg&fm=jpg);
    background-attachment: fixed; /* fixes the position of background while scrolling */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0rem;
    
}
/* Horizontal List */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    /* border: 2px solid red; */
}


.horizontal-list li{
    display: inline-block;
    margin: 0rem 2rem;
    /* border: 2px solid red; */

}

.horizontal-list li a{
    text-decoration: none;
    color: rgba(255,255,255, 0.8);
}

.horizontal-list li a:hover{
    border-bottom: 1px solid white;
    color: rgba(255, 255,255, 1);
    transform: scaleX(1.1);
    transition :transform 0.5s ease, color 0.1s ease-in, border-bottom 0.1s ease-in;
}
/* text -center class */

.text-center{
    text-align: center;
}

/* name Siddhant */
#name{
    margin: 3.5rem 0px 5rem 0px;
    color: white;
    opacity: 0.9;
    font-size: 64px;
    
}

.social-img{
    width: 2vw;
    height: 2vw;
    margin: 0.5rem;
    padding: 0px;
    opacity: 0.5;
    transition: opacity 0.1s ease-in,transform 0.25s ease-in;
}

.social-img:hover {
    opacity: 1;
    /* transform: scale(1.5); */
    /* transition: opacity 0.5s ease-in,transform 0.5s ease-in; */
}
.social-icons li{
    margin: 0px 3px;
    padding: 0px;
   
}

.header-social-icons{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.header-social-icons:hover{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.75);


}

.social-icons{  
    margin: 1rem;
    transform: translateY(-250%);
}

/* about section */

#about{
   height: auto;
   width: 100%;
   position: relative;
   /* background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(250,250,255,1) 12%, rgba(198,198,198,1) 100%); */
}

#display-picture img{
    border-radius: 50%;
    border: 0.5rem solid white;
    width: 100%;
    height: 100%;
    transform: scale(1.05);
    box-shadow: 4px 4px 8px 2px rgba(255, 255, 255, 0.75);
-webkit-box-shadow: 4px 4px 8px 2px rgba(255, 255, 255, 0.75);
-moz-box-shadow: 4px 4px 8px 2px rgba(255, 255, 255, 0.75);
    
}

#display-picture{
    /* border: 2px solid red; */
    padding: 0px;
    margin: auto;
    margin-top: -20vh;
    width: 200px;
    height: 200px;
  
}
.description{
    padding: 2rem 5rem;
    /* border: 2px solid red; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    height: auto;
    font-style: normal;
}

.description span{
    background-color: aqua;
}

/* skills section */

#skills{
    height: auto;
    width: 100%;  
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    background: linear-gradient(90deg, rgba(249,249,249,1) 0%, rgba(250,250,255,1) 12%, rgba(198,198,198,1) 100%);
    padding-top: 1rem;
    background-image: url("https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


.section-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    background-color: transparent;
    text-transform: uppercase;
    color: rgb(36, 36, 36);
}
#skills div h2,#skills div i{
    color: snow;
}

.section-header i{
    margin: 1rem;
    font-size: larger;
}

.section-header h2{
    margin: 1rem;
    font-stretch: semi-expanded;
}

#skills-list{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    background-color:transparent;
}

.skill-level-bar{
    height: 1.5rem;
    width: 8rem;
    margin: 2rem;
    padding-left: none;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: left;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 4px 4px 8px 2px rgba(1, 1, 1, 0.75);
-webkit-box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.75);
}
.skill-level-bar:nth-child(n) h2{
    color: whitesmoke;
}

.skill-level-bar:nth-child(1) h2{
    width: 70%;
    height: 100%;
    background-color: rgb(192, 2, 2);
    transition: width 0.5s ease-in;
}

.skill-level-bar:nth-child(2) h2{
    width: 70%;
    height: 100%;
    background-color: rgb(5, 174, 36);
}

.skill-level-bar:nth-child(3) h2{
    width: 70%;
    height: 100%;
    background-color: rgb(2, 142, 201);
}
.skill-level-bar:nth-child(4) h2{
    width: 50%;
    height: 100%;
    background-color: rgb(230, 0, 165);
}
.skill-level-bar:nth-child(5) h2{
    width: 70%;
    height: 100%;
    background-color: rgb(195, 100, 4);
}
.skill-level-bar:nth-child(6) h2{
    width: 90%;
    height: 100%;
    background-color: rgb(0, 183, 70);
}

.line{
    height: 0.01rem;
    opacity: 0.23;
    background-color: rgb(125, 125, 125);
    width: 100%;
}

.skill-level-bar h2{
    font-size: large;
    padding-left: 0.5rem;
    
}

#portfolio-list img{
    width: 12rem;
    height: 10rem;
    margin: 1.5rem 2rem;
}

#portfolio{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
}

#portfolio-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

#contact-section{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#contact-section  h2, #contact-section  i{
    /* text-transform: capitalize; */
    color: whitesmoke;
}

.address-details{
    display: flex;
    justify-content: left;
    align-items: center;
}

.address-details i{
    padding-left: 0.25rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    margin: none;
}

#contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#contact-form input{
    width: 100%;
    background-color: transparent;
    margin: 1rem 0;
    padding: 2px 3px;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid white;
}

#contact-form input::placeholder, #contact-form textarea::placeholder{
    color: whitesmoke;
    opacity: 0.5;
    font-family: monospace;
}
#contact-form textarea{
    width: 100%;
    background-color: transparent;
    margin: 1rem 0;
    padding: 2px 3px;
    border-radius: 3px;
    resize: none;
    height: 4rem;
    overflow:auto;
    outline: none;
    border: 1px solid rgba(255, 255, 255,0.4);
 
}

#contact-section-icons{
    transform: translateY(-10%);
}

#contact-details-section{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    justify-content: space-between;
}

#contact-details{
    width: 40%;
}




#contact-form button{
  align-items: center;
  background-color: #777777;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1rem;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: max-content;
}

#contact-form button:hover,
#contact-form button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  background-color: aliceblue;
}

#contact-form button:hover {
  transform: translateY(-1px);
}

#contact-form button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#experience{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 120vh;
    padding: 1rem 1rem;
}

#experience-sub-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 2rem 0;
}

.vertical-line{
    width: 0.08rem;
    height: 100%;
    background-color: black;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}


.circle{
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    /* position: absolute; */
    top: 60%;
}

.journey-line{
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    height: 100%;
    align-items: center;
    padding: 2rem 0;
    
}

.journey-line i{
    font-size: 40px;
    position: sticky;
    top: 1.5rem;
}

.fa-jet-fighter-up{
    transform: rotate(180deg);
}


.experience-list{
    height: 80%;
    /* background-color: red; */
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0.5rem;

}

.experience-item{
    height: 33%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    width: 85%;
    margin: auto;
    border-radius: 0.5rem;
}

.experience-empty-item{
    height: 20%;
    background-color: transparent;
    width: 85%;
}
/* education section */

#education{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 1.5rem;
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 93%, 0% 100%);
clip-path: polygon(0 0, 100% 5%, 100% 93%, 0% 100%);
    background-color: #EFEFEF;
}

#education-sub-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 2rem 0;
}

/* .journey-line .fa-user-graduate{
    transform: rotate(180deg);
} */


#education-sub-section .journey-line .vertical-line .circle{
    width: 2rem;
    border-radius: 0.2rem;
    height: 0.1rem;
}